*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: 'Inter';
   
}
body{
    
    margin: 0, auto;
     max-width: 1440px;
     margin: 50px 100px;
}
header{

    background-color: #F3FCF7;
}
/* nav started*/
 .head nav{
    display: flex;
    justify-content: space-between;
    
}
.intro{
    margin: 0 100px;
    padding-top: 41px;

}

.intro h1{
    color: #06C167;
    font-size: 30px;
    
   
}
.intro ul{
    list-style: none;
    display: flex;
    
    
}
.intro ul a{
    text-decoration: none;
    align-items: center;
    padding-right: 40px;
    color: #1D1D1F;
    
} 

/* nav end*/

/* hero started*/
.hero{
    display: flex;
    margin: 100px 100px;
}
.hero h1{
    font-size: 60px;
}
.hero p{
    font-size: 14px;
    margin-top:30px;
    margin-bottom: 30px;
    line-height: 140%;
}
.hero img{
    height: 400px;
    margin-left: 127px;
}
.hero button{
    font-size: 16px;
    color:white ;
    background-color: #06C167;
    padding: 20px;
    border: 0;
    border-radius: 10px;
}
/* hero end*/

/* div started*/
.div{
    display: flex;
   
}

.div1{
    display: flex;
    align-items: center;
    margin-left: 70px;
   
}
.div img{
    height: 40px;
    width: 40px;
}
.div1 p{
    color: #394149;
    opacity: 55%;
     padding-left: 10px;
      
}
/* div end*/

/* content start*/
.content{
    display: flex;
}

.demo{
    display: flex;
   margin-top: 100px;
   margin-left: 50px;
  
    
}

.demo i{
   background-color: #F3FCF7;
    color: #06C167;
    border-radius: 10px;
    font-size: 30px;
    margin-right: 30px;
    
    
    
      
}
.demo p{
    color: #1D1D1F;
    font-size: 18px;
    
    

}
.p{
    opacity: 75%;
    
}
/* content end*/

/* mid start*/
.mid{
    display: flex;
    margin-top: 155px;
    margin-left: 50px;
}
.mid img{
    height: 500px;
    width: 400px;
    margin-right: 100px;
}
.mid h1{
    font-size: 60px;
}
.mid p{
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 30px;
    color: #1D1D1F;
}
.mid i{
 color: #06C167;
}
/* mid end*/

/* star start*/


.star{
    margin-top: 200px;
    display: flex;
    margin-left: 50px;

}
.star>p{
    margin-bottom: 20px;

}
.star h1{
    margin-top: 20px;
}

.h{
    margin-right: 80px;
    margin-top: 50px;

}


.h>h1{
    color: #06C167;
    margin-right: 80px;
}
.h p{
    opacity: 65%;
    font-size: 16px;
}
.text{
    display: flex;
    
}
.text img{
    background-color:#F3FAFB;
    height: 500px;
    width: 400px;
    margin-right: 50px;
}
.star button{
    background-color: #06C167;
    color: white;
    padding: 20px;
    border-radius: 10px;
    border:0;
    margin-top: 50px;
}
/* star end*/

/* container start*/

.container{
    

}
.container>button{
    background-color: transparent;
    border-color: #06C167;
    padding: 10px;
    border-radius: 10px;
     margin-top: 170px;
     margin-left: 600px;
}
.container h1{
    margin-left: 550px;
}


